/* Aplica un fondo y color general */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4; /* Fondo gris claro */
  color: #333; /* Texto de color oscuro */
  margin: 0;
  padding: 0;
}

/* El encabezado */
header {
  background-color: #004d99; /* Fondo azul */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center;
}

/* Los enlaces en el menú de navegación */
nav a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

nav a:hover {
  background-color: #333; /* Cambio de fondo al pasar el ratón */
}

/* Contenido principal */
main {
  padding: 20px;
}

/* Secciones dentro del contenido principal */
section {
  background-color: white; /* Fondo blanco para las secciones */
  margin-bottom: 20px; /* Espaciado entre secciones */
  padding: 20px;
  border-radius: 5px; /* Bordes redondeados */
}

/* Pie de página */
footer {
  background-color: #333; /* Fondo oscuro */
  color: white; /* Texto blanco */
  padding: 10px;
  text-align: center;
}

@media (max-width: 600px) {
  nav a {
    display: block; /* Los enlaces serán bloques para apilarse en móviles */
    text-align: center; /* Centrar los enlaces */
    padding: 15px; /* Aumentar el espaciado */
  }

  header {
    text-align: center; /* Centrar el encabezado */
  }

  main {
    padding: 10px; /* Reducir el espacio en móviles */
  }
}
